---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/autocomplete/schools?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&q=San%20Die&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4973'
      X-Dayrate-Limit-Reset:
      - '16388'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '85'
      X-Rate-Limit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"schoolMatches\": [\r\n    {\r\n      \"schoolid\": \"069999944581\",\r\n
        \     \"schoolName\": \"Fusion San Diego Scripps Ranch\",\r\n      \"city\":
        \"San Diego\",\r\n      \"state\": \"CA\",\r\n      \"zip\": \"92131\",\r\n
        \     \"schoolLevel\": \"Private\",\r\n      \"lowGrade\": \"06\",\r\n      \"highGrade\":
        \"12\",\r\n      \"latitude\": 32.91506,\r\n      \"longitude\": -117.113281,\r\n
        \     \"hasBoundary\": false,\r\n      \"rank\": null,\r\n      \"rankOf\":
        null,\r\n      \"rankStars\": null\r\n    },\r\n    {\r\n      \"schoolid\":
        \"063438005577\",\r\n      \"schoolName\": \"San Dieguito High School Academy\",\r\n
        \     \"city\": \"Encinitas\",\r\n      \"state\": \"CA\",\r\n      \"zip\":
        \"92024\",\r\n      \"schoolLevel\": \"High\",\r\n      \"lowGrade\": \"09\",\r\n
        \     \"highGrade\": \"12\",\r\n      \"latitude\": 33.0379,\r\n      \"longitude\":
        -117.2746,\r\n      \"hasBoundary\": true,\r\n      \"rank\": 160,\r\n      \"rankO[...]
