---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/autocomplete/schools?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&q=San%20Die&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '490'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"schoolMatches\": [\r\n    {\r\n      \"schoolid\": \"069999944581\",\r\n
        \     \"schoolName\": \"Halstrom Academy-San Diego\",\r\n      \"city\": \"San
        Diego\",\r\n      \"state\": \"CA\",\r\n      \"zip\": \"92131\",\r\n      \"schoolLevel\":
        \"Private\",\r\n      \"lowGrade\": \"06\",\r\n      \"highGrade\": \"12\",\r\n
        \     \"latitude\": 32.915351,\r\n      \"longitude\": -117.113582,\r\n      \"hasBoundary\":
        false,\r\n      \"rank\": null,\r\n      \"rankOf\": null,\r\n      \"rankStars\":
        null\r\n    },\r\n    {\r\n      \"schoolid\": \"060004213918\",\r\n      \"schoolName\":
        \"California Pacific Charter - San Diego\",\r\n      \"city\": \"Warner Springs\",\r\n
        \     \"state\": \"CA\",\r\n      \"zip\": \"92086\",\r\n      \"schoolLevel\":
        \"Alternative\",\r\n      \"lowGrade\": \"KG\",\r\n      \"highGrade\": \"12\",\r\n
        \     \"latitude\": 33.274332,\r\n      \"longitude\": -116.643105,\r\n      \"hasBoundary\":
        false,\r\n      [...]
