---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/districts/0600001?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '490'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"districtID\": \"0600001\",\r\n  \"districtName\": \"Acton-Agua
        Dulce Unified\",\r\n  \"phone\": \"(661) 269-0750\",\r\n  \"url\": \"https://www.schooldigger.com/go/CA/district/00001/search.aspx\",\r\n
        \ \"address\": {\r\n    \"latLong\": {\r\n      \"latitude\": 34.472708,\r\n
        \     \"longitude\": -118.196768\r\n    },\r\n    \"street\": \"32248 N. Crown
        Valley Rd.\",\r\n    \"city\": \"Acton\",\r\n    \"state\": \"CA\",\r\n    \"stateFull\":
        \"California\",\r\n    \"zip\": \"93510\",\r\n    \"zip4\": \"2620\",\r\n
        \   \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Acton/search.aspx\",\r\n
        \   \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93510/search.aspx\",\r\n
        \   \"html\": \"32248 N. Crown Valley Rd.<br />Acton, CA 93510-2620\"\r\n
        \ },\r\n  \"boundary\": {\r\n    \"polylineCollection\": [\r\n      {\r\n
        \       \"polylineOverlayEncodedPoints\": \"_t|qE`ajpU|ACR?~R?nVA~GAhIAhoAO|@?vPEFyz@lG?H?bJ?~I@lJ?AsGHqQN{YLyW?k@JsUDcHJgVBiDF_N?GBqAD_R?uE@oL@mG?_@EsBK}FJmCRyKNsOJeKJynA]or@?m@?gm@@_VAuPA[?{BAkJ?uCI_^AkAA_EGuu@zEOfS@vB?bM?rEAf@?hB?v@?nHCCuApFOvL]~@CvAEpIUzQe@na@_@?LnI?~hBAxZAv@@`C@f@?`F?xB?lR?AoPC{NGkf@?{BIqDLetBLwpBhc@?bM?rw@BliA@|n@@`S?njCDtbABduAFtHAl@?l@?WfuB@VHXPl@lAt@NZEXe@l@ERMvAJf@JZ@L_@Ze@t@EHAt}@@zI?~ILn{BnAdl@FzCJtKJpD\\\\pKhAt_@hAr_@pEjzAUvIaCje@{@dQa@nk@KvNQzVElGKrL[x]St[Nhb@^z}@`@ldAs@pDC^Z|ATdAf@fAGhAOjAm@nAeB~Bda@@rgAD|L?jy@c@?nLA|kB?ba@DpGJjh@W~gAQjw@ApD?hZAj~@?zHGz`@Gv\\\\AfE?fEDhDCnDEpFAzC?hEAr`@Alz@F|o@Dt_@BvR@fUDdx@@hT{Lh@}F@aa@L{@EqmARc_@Hme@JAh@Db@eCDmGCijARaF@kYFwTDiTDcSDeb@Hm\\\\Fw_@Fek@J~B~Qb@xDtB`RtAjOWnIY~IExAEpBC`AKhDUxDyE|pA{Ana@qW?}DCY?iCCq@AsCA{LIq@Acd@YmMGmgAm@cB?YzcAHrp@kAGea@uBgR_AaR_AcCMyDQkAG_Tf@uZv@al@zAiU?u@_@eKEw@?S?gGnJiD}PqViAEFu@lAkLT{k@R_IDe_@Lgj@T_CBU?sGE_`@g@}W]eFCoyAY?aG@qOHosAPy|CHaq@Hon@NoiA@{GLkdABoOBoO@wH@kFLwjANaiAy@}d@q@wa@E_CMyHhA_Gd@_j@z@m`A?UOcSOcSg@sq@Q_VGaQSmg@Z?RCCM?GACEKWKy@QTqIj@g[Fe`A\",\r\n
        \       \"numberEncodedPoints\": 301\r\n      }\r\n    ],\r\n    \"hasBoundary\":
        true\r\n  },\r\n  \"county\": {\r\n    \"countyName\": \"Los Angeles\",\r\n
        \   \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Los+Angeles/search.aspx\"\r\n
        \ },\r\n  \"lowGrade\": \"K\",\r\n  \"highGrade\": \"12\",\r\n  \"numberTotalSchools\":
        20,\r\n  \"numberPrimarySchools\": 4,\r\n  \"numberMiddleSchools\": 1,\r\n
        \ \"numberHighSchools\": 6,\r\n  \"numberAlternativeSchools\": 9,\r\n  \"rankHistory\":
        [\r\n    {\r\n      \"year\": 2018,\r\n      \"rank\": 569,\r\n      \"rankOf\":
        856,\r\n      \"rankStars\": 2,\r\n      \"rankStatewidePercentage\": 33.53,\r\n
        \     \"rankScore\": 0.4045084\r\n    },\r\n    {\r\n      \"year\": 2017,\r\n
        \     \"rank\": 518,\r\n      \"rankOf\": 861,\r\n      \"rankStars\": 2,\r\n
        \     \"rankStatewidePercentage\": 39.84,\r\n      \"rankScore\": 0.4506246\r\n
        \   }\r\n  ],\r\n  \"districtYearlyDetails\": [\r\n    {\r\n      \"year\":
        2017,\r\n      \"numberOfStudents\": 10016,\r\n      \"numberOfSpecialEdStudents\":
        null,\r\n      \"numberOfEnglishLanguageLearnerStudents\": 146,\r\n      \"numberOfTeachers\":
        531.5,\r\n      \"numberOfTeachersPK\": 0.0,\r\n      \"numberOfTeachersK\":
        41.6,\r\n      \"numberOfTeachersElementary\": 255.0,\r\n      \"numberOfTeachersSecondary\":
        227.3,\r\n      \"numberOfAids\": 115.2,\r\n      \"numberOfCoordsSupervisors\":
        220.2,\r\n      \"numberOfGuidanceElem\": 2.5,\r\n      \"numberOfGuidanceSecondary\":
        1.5,\r\n      \"numberOfGuidanceTotal\": 11.1,\r\n      \"numberOfLibrarians\":
        0.0,\r\n      \"numberOfLibraryStaff\": 0.0,\r\n      \"numberOfLEAAdministrators\":
        3.0,\r\n      \"numberOfLEASupportStaff\": 6.0,\r\n      \"numberOfSchoolAdministrators\":
        51.7,\r\n      \"numberOfSchoolAdminSupportStaff\": 73.8,\r\n      \"numberOfStudentSupportStaff\":
        28.7,\r\n      \"numberOfOtherSupportStaff\": 49.2\r\n    },\r\n    {\r\n
        \     \"year\": 2016,\r\n      \"numberOfStudents\": 7475,\r\n      \"numberOfSpecialEdStudents\":
        677,\r\n      \"numberOfEnglishLanguageLearnerStudents\": 150,\r\n      \"numberOfTeachers\":
        391.1,\r\n      \"numberOfTeachersPK\": 0.0,\r\n      \"numberOfTeachersK\":
        29.6,\r\n      \"numberOfTeachersElementary\": 204.5,\r\n      \"numberOfTeachersSecondary\":
        148.6,\r\n      \"numberOfAids\": 48.5,\r\n      \"numberOfCoordsSu[...]
