---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/districts/0600001?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4975'
      X-Dayrate-Limit-Reset:
      - '16389'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '87'
      X-Rate-Limit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"districtID\": \"0600001\",\r\n  \"districtName\": \"Acton-Agua
        Dulce Unified\",\r\n  \"phone\": \"(661) 269-0750\",\r\n  \"url\": \"https://www.schooldigger.com/go/CA/district/00001/search.aspx\",\r\n
        \ \"address\": {\r\n    \"latLong\": {\r\n      \"latitude\": 34.472708,\r\n
        \     \"longitude\": -118.196768\r\n    },\r\n    \"street\": \"32248 North
        Crown Valley Rd.\",\r\n    \"city\": \"Acton\",\r\n    \"state\": \"CA\",\r\n
        \   \"stateFull\": \"California\",\r\n    \"zip\": \"93510\",\r\n    \"zip4\":
        \"2620\",\r\n    \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Acton/search.aspx\",\r\n
        \   \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93510/search.aspx\",\r\n
        \   \"html\": \"32248 North Crown Valley Rd.<br />Acton, CA 93510-2620\"\r\n
        \ },\r\n  \"boundary\": {\r\n    \"polylineCollection\": [\r\n      {\r\n
        \       \"polylineOverlayEncodedPoints\": \"ct|qE`ajpU`BCR?~R?nVA~GAhIAhoAO|@AvPCjADUex@dn@`@`@_a@VgVMoHY_Oi@cYEeDCi@EkC?u@GqFEwCGmCKqGEcBIkFBo@DO]EK??GR@@}@?_A@uA@wC@_A@wDD{D@eA@_AB}I@_A[?D]AeAA_D?Y?E@oA@UDgAEk@KaAEq@@e@Js@Ry@T_@IcAEm@@yABcC@gAHqFDiD@q@HiJCs@M_@GKJynA]or@?m@@gm@?_VAuPA[?{BAkJ?uCI_^AkA?_EK_v@vCAdACfS@vB?bMArE?f@?hB?v@?nHCHDdBBNCR@~EChI?j@?bC?rOBrEAbIBbNDhQBhQBd@BJ?hDAlg@EhE?fg@Gb_@CjGAdA?Z?FA?JlSDBqFV?AoPC{NGkf@?{BIqDLetBLwpBhc@?bM?rw@@liAB|n@@`S?njCDtbABduAFtHAl@?n@?YfuB@VHXPl@lAt@NZEXe@l@ERMvAJf@JZ@L_@Ze@t@EHAt}@@zI?~ILn{BnAdl@FzCJtKJpD\\\\pKhAt_@jAr_@nEjzAUvIaCje@{@dQa@nk@KvNQzVElGKrL[x]St[Nhb@^x}@`@ndAs@pDC^Z|ATdAf@fAGhAOjAm@nAeB~Bfa@@pgAB|L@jy@c@?nLA|kB?ba@DpGJjh@W~gAQhw@ApD?jZAj~@?zHGz`@Gv\\\\AfE?fEDhDCnDCpFCzC?hEAr`@Alz@Hzo@Bv_@BvR@fUDdx@@hT?~Hq\\\\Da\\\\?_@BgRC_GAiKEwHCiAAmGCeDB}KQoLIM@wBCeKAYAiB?gFCgSKwA?cCCcNGyd@Seb@UmFKkYFyC@}OGiTSqSBaIEyXIk[GwKCmMKqq@UZjC~B~Qb@xDtB`RtAjOWnIY~IExAEpBC`AKhDUxD_D|z@YNc@pIa@lG[vEsBf]wT?}DCY?iCCq@AsCA}FEmDXk@HcF`@{R|@eJb@kHCuVI}]M{TKyB@}@?E~RA|OElVA^?h@AjRGdZ@@?dAC??F?N?|A{KMcMMye@c@_EBBQCI_IDac@GcCl@g@TQKW[CMASwt@Q]BsBFqRn@yJT@PAVOLOFKYg@G{@IsB?_CAq@Dm@?mHAi`@KgvA}Bo]i@aFEkGMgi@}@_BC\\\\]\\\\Ql@c@ZYLSaEG{QWeFA?xB}JMgcAcCiIA?aG@qOHosAPy|CHaq@Hon@NoiA@{GLkdABoOBoO@wH@kF@sIWq_A@uL?kKA_NA{ZAuE?}c@SyK_@}TE_CMyHhA_GQah@?_C?mk@AmVDa@@yc@J}o@FgVGaQSmg@Z?RCCM?GACCKYKy@QTqIj@g[Bo[A}G@wZ\",\r\n
        \       \"numberEncodedPoints\": 412\r\n      }\r\n    ],\r\n    \"hasBoundary\":
        true\r\n  },\r\n  \"county\": {\r\n    \"countyName\": \"Los Angeles County\",\r\n
        \   \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Los+Angeles+County/search.aspx\"\r\n
        \ },\r\n  \"lowGrade\": \"K\",\r\n  \"highGrade\": \"12\",\r\n  \"numberTotalSchools\":
        3,\r\n  \"numberPrimarySchools\": 1,\r\n  \"numberMiddleSchools\": 1,\r\n
        \ \"numberHighSchools\": 1,\r\n  \"numberAlternativeSchools\": 0,\r\n  \"rankHistory\":
        [\r\n    {\r\n      \"year\": 2018,\r\n      \"rank\": 569,\r\n      \"rankOf\":
        856,\r\n      \"rankStars\": 2,\r\n      \"rankStatewidePercentage\": 33.53,\r\n
        \     \"rankScore\": 0.4045084\r\n    },\r\n    {\r\n      \"year\": 2017,\r\n
        \     \"rank\": 518,\r\n      \"rankOf\": 861,\r\n      \"rankStars\": 2,\r\n
        \     \"rankStatewidePercentage\": 39.84,\r\n      \"rankScore\": 0.4506246\r\n
        \   }\r\n  ],\r\n  \"districtYearlyDetails\": [\r\n    {\r\n      \"year\":
        2023,\r\n      \"numberOfStudents\": 1002,\r\n      \"numberOfSpecialEdStudents\":
        null,\r\n      \"numberOfEnglishLanguageLearnerStudents\": null,\r\n      \"numberOfTeachers\":
        43.3,\r\n      \"numberOfTeachersPK\": 0.0,\r\n      \"numberOfTeachersK\":
        3.0,\r\n      \"numberOfTeachersElementary\": 21.2,\r\n      \"numberOfTeachersSecondary\":
        19.0,\r\n      \"numberOfAids\": 24.1,\r\n      \"numberOfCoordsSupervisors\":
        0.0,\r\n      \"numberOfGuidanceElem\": 0.6,\r\n      \"numberOfGuidanceSecondary\":
        1.3,\r\n      \"numberOfGuidanceTotal\": 0.0,\r\n      \"numberOfLibrarians\":
        0.0,\r\n      \"numberOfLibraryStaff\": 0.0,\r\n      \"numberOfLEAAdministrators\":
        2.0,\r\n      \"numberOfLEASupportStaff\": 5.0,\r\n      \"numberOfSchoolAdministrators\":
        3.8,\r\n      \"numberOfSchoolAdminSupportStaff\": 6.8,\r\n      \"numberOfStudentSupportStaff\":
        2.6,\r\n      \"numberOfOtherSupportStaff\": 22.6\r\n    },\r\n    {\r\n      \"year\":
        2022,\r\n      \"numberOfStudents\": 939,\r\n      \"numberOfSpecialEdStudents\":
        null,\r\n      \"numberOfEnglishLanguageLearnerStudents\": null,\r\n      \"numberOfTeachers\":
        40.3,\r\n      \"numberOfTeachersPK\": 0.0,\r\n      \"numberOfTeachersK\":
        3.5,\r\n      \"numberOfTeachersElementary\": 20.6,\r\n      \"numberOfTeachersSecondary\":
        16.1,\r\n      \"numberOfAids\": 24.1,\r\n      \"numberOfCoordsSuperv[...]
