---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/rankings/districts/CA?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '492'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"rankYear\": 2018,\r\n  \"rankYearCompare\": 2017,\r\n  \"rankYearsAvailable\":
        [\r\n    2018,\r\n    2017,\r\n    2016,\r\n    2015,\r\n    2013,\r\n    2012,\r\n
        \   2011,\r\n    2010,\r\n    2009,\r\n    2008,\r\n    2007,\r\n    2006,\r\n
        \   2005,\r\n    2004\r\n  ],\r\n  \"numberOfDistricts\": 50,\r\n  \"numberOfPages\":
        1,\r\n  \"districtList\": [\r\n    {\r\n      \"districtID\": \"0609270\",\r\n
        \     \"districtName\": \"Cold Spring Elementary\",\r\n      \"phone\": \"(805)
        969-2678\",\r\n      \"url\": \"https://www.schooldigger.com/go/CA/district/09270/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        34.441188,\r\n          \"longitude\": -119.659773\r\n        },\r\n        \"street\":
        \"2243 Sycamore Canyon Rd.\",\r\n        \"city\": \"Santa Barbara\",\r\n
        \       \"state\": \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\":
        \"93108\",\r\n        \"zip4\": \"1909\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Santa+Barbara/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93108/search.aspx\",\r\n
        \       \"html\": \"2243 Sycamore Canyon Rd.<br />Santa Barbara, CA 93108-1909\"\r\n
        \     },\r\n      \"locationIsWithinBoundary\": null,\r\n      \"hasBoundary\":
        true,\r\n      \"county\": {\r\n        \"countyName\": \"Santa Barbara\",\r\n
        \       \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Santa+Barbara/search.aspx\"\r\n
        \     },\r\n      \"lowGrade\": \"K\",\r\n      \"highGrade\": \"6\",\r\n
        \     \"numberTotalSchools\": 1,\r\n      \"numberPrimarySchools\": 1,\r\n
        \     \"numberMiddleSchools\": 0,\r\n      \"numberHighSchools\": 0,\r\n      \"numberAlternativeSchools\":
        0,\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2018,\r\n
        \         \"rank\": 1,\r\n          \"rankOf\": 856,\r\n          \"rankStars\":
        5,\r\n          \"rankStatewidePercentage\": 99.88,\r\n          \"rankScore\":
        0.9966442\r\n        },\r\n        {\r\n          \"year\": 2017,\r\n          \"rank\":
        13,\r\n          \"rankOf\": 861,\r\n          \"rankStars\": 5,\r\n          \"rankStatewidePercentage\":
        98.49,\r\n          \"rankScore\": 0.9755797\r\n        }\r\n      ],\r\n
        \     \"districtYearlyDetails\": [\r\n        {\r\n          \"year\": 2017,\r\n
        \         \"numberOfStudents\": 169,\r\n          \"numberOfSpecialEdStudents\":
        null,\r\n          \"numberOfEnglishLanguageLearnerStudents\": 4,\r\n          \"numberOfTeachers\":
        9.0,\r\n          \"numberOfTeachersPK\": 0.0,\r\n          \"numberOfTeachersK\":
        2.0,\r\n          \"numberOfTeachersElementary\": 7.0,\r\n          \"numberOfTeachersSecondary\":
        0.0,\r\n          \"numberOfAids\": 7.4,\r\n          \"numberOfCoordsSupervisors\":
        0.0,\r\n          \"numberOfGuidanceElem\": 0.0,\r\n          \"numberOfGuidanceSecondary\":
        0.0,\r\n          \"numberOfGuidanceTotal\": 0.0,\r\n          \"numberOfLibrarians\":
        0.0,\r\n          \"numberOfLibraryStaff\": 0.0,\r\n          \"numberOfLEAAdministrators\":
        1.0,\r\n          \"numberOfLEASupportStaff\": 0.0,\r\n          \"numberOfSchoolAdministrators\":
        0.0,\r\n          \"numberOfSchoolAdminSupportStaff\": 4.0,\r\n          \"numberOfStudentSupportStaff\":
        0.0,\r\n          \"numberOfOtherSupportStaff\": 2.5\r\n        }\r\n      ]\r\n
        \   },\r\n    {\r\n      \"districtID\": \"0635910\",\r\n      \"districtName\":
        \"Saratoga Union Elementary\",\r\n      \"phone\": \"(408) 867-3424\",\r\n
        \     \"url\": \"https://www.schooldigger.com/go/CA/district/35910/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        37.255504,\r\n          \"longitude\": -122.031707\r\n        },\r\n        \"street\":
        \"20460 Forrest[...]
