---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/rankings/districts/CA?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4978'
      X-Dayrate-Limit-Reset:
      - '16391'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '90'
      X-Rate-Limit-Reset:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"rankYear\": 2024,\r\n  \"rankYearCompare\": 2023,\r\n  \"rankYearsAvailable\":
        [\r\n    2024,\r\n    2023,\r\n    2022,\r\n    2021,\r\n    2019,\r\n    2018,\r\n
        \   2017,\r\n    2016,\r\n    2015,\r\n    2013,\r\n    2012,\r\n    2011,\r\n
        \   2010,\r\n    2009,\r\n    2008,\r\n    2007,\r\n    2006,\r\n    2005,\r\n
        \   2004\r\n  ],\r\n  \"numberOfDistricts\": 50,\r\n  \"numberOfPages\": 1,\r\n
        \ \"districtList\": [\r\n    {\r\n      \"districtID\": \"0609270\",\r\n      \"districtName\":
        \"Cold Spring Elementary\",\r\n      \"phone\": \"(805) 969-2678\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/09270/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 34.441102,\r\n          \"longitude\":
        -119.660973\r\n        },\r\n        \"street\": \"2243 Sycamore Canyon Rd.\",\r\n
        \       \"city\": \"Santa Barbara\",\r\n        \"state\": \"CA\",\r\n        \"stateFull\":
        \"California\",\r\n        \"zip\": \"93108\",\r\n        \"zip4\": \"1909\",\r\n
        \       \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Santa+Barbara/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93108/search.aspx\",\r\n
        \       \"html\": \"2243 Sycamore Canyon Rd.<br />Santa Barbara, CA 93108-1909\"\r\n
        \     },\r\n      \"hasBoundary\": true,\r\n      \"county\": {\r\n        \"countyName\":
        \"Santa Barbara County\",\r\n        \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Santa+Barbara+County/search.aspx\"\r\n
        \     },\r\n      \"lowGrade\": \"K\",\r\n      \"highGrade\": \"6\",\r\n
        \     \"numberTotalSchools\": 1,\r\n      \"numberPrimarySchools\": 1,\r\n
        \     \"numberMiddleSchools\": 0,\r\n      \"numberHighSchools\": 0,\r\n      \"numberAlternativeSchools\":
        0,\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2024,\r\n
        \         \"rank\": 1,\r\n          \"rankOf\": 1568,\r\n          \"rankStars\":
        5,\r\n          \"rankStatewidePercentage\": 99.94,\r\n          \"rankScore\":
        0.9998294\r\n        },\r\n        {\r\n          \"year\": 2023,\r\n          \"rank\":
        1,\r\n          \"rankOf\": 1563,\r\n          \"rankStars\": 5,\r\n          \"rankStatewidePercentage\":
        99.94,\r\n          \"rankScore\": 0.9991487\r\n        }\r\n      ],\r\n
        \     \"districtYearlyDetails\": [\r\n        {\r\n          \"year\": 2023,\r\n
        \         \"numberOfStudents\": 193,\r\n          \"numberOfSpecialEdStudents\":
        null,\r\n          \"numberOfEnglishLanguageLearnerStudents\": null,\r\n          \"numberOfTeachers\":
        15.8,\r\n          \"numberOfTeachersPK\": 0.0,\r\n          \"numberOfTeachersK\":
        2.8,\r\n          \"numberOfTeachersElementary\": 13.0,\r\n          \"numberOfTeachersSecondary\":
        0.0,\r\n          \"numberOfAids\": 5.3,\r\n          \"numberOfCoordsSupervisors\":
        0.0,\r\n          \"numberOfGuidanceElem\": 0.0,\r\n          \"numberOfGuidanceSecondary\":
        0.0,\r\n          \"numberOfGuidanceTotal\": 0.0,\r\n          \"numberOfLibrarians\":
        0.0,\r\n          \"numberOfLibraryStaff\": 0.0,\r\n          \"numberOfLEAAdministrators\":
        0.3,\r\n          \"numberOfLEASupportStaff\": 0.0,\r\n          \"numberOfSchoolAdministrators\":
        0.7,\r\n          \"numberOfSchoolAdminSupportStaff\": 3.2,\r\n          \"numberOfStudentSupportStaff\":
        0.0,\r\n          \"numberOfOtherSupportStaff\": 2.8\r\n        }\r\n      ]\r\n
        \   },\r\n    {\r\n      \"districtID\": \"0602415\",\r\n      \"districtName\":
        \"Bullis Charter District\",\r\n      \"phone\": \"(650) 947-4100\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/02415/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 37.3963,\r\n          \"longitude\":
        -122.115031\r\n        },\r\n        \"street\": \"102 W. Portola Ave.\",\r\n
[...]
