---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/districts?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4971'
      X-Dayrate-Limit-Reset:
      - '16387'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '83'
      X-Rate-Limit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"numberOfDistricts\": 2068,\r\n  \"numberOfPages\": 42,\r\n
        \ \"districtList\": [\r\n    {\r\n      \"districtID\": \"0601620\",\r\n      \"districtName\":
        \"ABC Unified\",\r\n      \"phone\": \"(562) 926-5566\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/01620/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 33.879715,\r\n          \"longitude\":
        -118.071463\r\n        },\r\n        \"street\": \"16700 Norwalk Blvd.\",\r\n
        \       \"city\": \"Cerritos\",\r\n        \"state\": \"CA\",\r\n        \"stateFull\":
        \"California\",\r\n        \"zip\": \"90703\",\r\n        \"zip4\": \"1838\",\r\n
        \       \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Cerritos/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/90703/search.aspx\",\r\n
        \       \"html\": \"16700 Norwalk Blvd.<br />Cerritos, CA 90703-1838\"\r\n
        \     },\r\n      \"hasBoundary\": true,\r\n      \"county\": {\r\n        \"countyName\":
        \"Los Angeles County\",\r\n        \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Los+Angeles+County/search.aspx\"\r\n
        \     },\r\n      \"lowGrade\": \"K\",\r\n      \"highGrade\": \"12\",\r\n
        \     \"numberTotalSchools\": 31,\r\n      \"numberPrimarySchools\": 20,\r\n
        \     \"numberMiddleSchools\": 5,\r\n      \"numberHighSchools\": 6,\r\n      \"numberAlternativeSchools\":
        0,\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2024,\r\n
        \         \"rank\": 414,\r\n          \"rankOf\": 1568,\r\n          \"rankStars\":
        4,\r\n          \"rankStatewidePercentage\": 73.6,\r\n          \"rankScore\":
        0.6985725\r\n        },\r\n        {\r\n          \"year\": 2023,\r\n          \"rank\":
        380,\r\n          \"rankOf\": 1563,\r\n          \"rankStars\": 4,\r\n          \"rankStatewidePercentage\":
        75.69,\r\n          \"rankScore\": 0.7113991\r\n        }\r\n      ],\r\n
        \     \"districtYearlyDetails\": [\r\n        {\r\n          \"year\": 2023,\r\n
        \         \"numberOfStudents\": 18354,\r\n          \"numberOfSpecialEdStudents\":
        null,\r\n          \"numberOfEnglishLanguageLearnerStudents\": null,\r\n          \"numberOfTeachers\":
        810.8,\r\n          \"numberOfTeachersPK\": 0.0,\r\n          \"numberOfTeachersK\":
        67.2,\r\n          \"numberOfTeachersElementary\": 456.5,\r\n          \"numberOfTeachersSecondary\":
        286.9,\r\n          \"numberOfAids\": 99.8,\r\n          \"numberOfCoordsSupervisors\":
        11.5,\r\n          \"numberOfGuidanceElem\": 5.0,\r\n          \"numberOfGuidanceSecondary\":
        13.0,\r\n          \"numberOfGuidanceTotal\": 5.0,\r\n          \"numberOfLibrarians\":
        0.0,\r\n          \"numberOfLibraryStaff\": 0.0,\r\n          \"numberOfLEAAdministrators\":
        10.0,\r\n          \"numberOfLEASupportStaff\": 32.0,\r\n          \"numberOfSchoolAdministrators\":
        52.0,\r\n          \"numberOfSchoolAdminSupportStaff\": 76.2,\r\n          \"numberOfStudentSupportStaff\":
        45.5,\r\n          \"numberOfOtherSupportStaff\": 437.2\r\n        }\r\n      ]\r\n
        \   },\r\n    {\r\n      \"districtID\": \"0601628\",\r\n      \"districtName\":
        \"ABLE Charter District\",\r\n      \"phone\": \"(209) 478-1600\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/01628/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 38.01011,\r\n          \"longitude\":
        -121.317161\r\n        },\r\n        \"street\": \"6515 Inglewood Ave.\",\r\n[...]
