---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/districts?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '490'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"numberOfDistricts\": 1165,\r\n  \"numberOfPages\": 24,\r\n
        \ \"districtList\": [\r\n    {\r\n      \"districtID\": \"0601620\",\r\n      \"districtName\":
        \"ABC Unified\",\r\n      \"phone\": \"(562) 926-5566\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/01620/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 33.879715,\r\n          \"longitude\":
        -118.071463\r\n        },\r\n        \"street\": \"16700 Norwalk Blvd.\",\r\n
        \       \"city\": \"Cerritos\",\r\n        \"state\": \"CA\",\r\n        \"stateFull\":
        \"California\",\r\n        \"zip\": \"90703\",\r\n        \"zip4\": \"1838\",\r\n
        \       \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Cerritos/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/90703/search.aspx\",\r\n
        \       \"html\": \"16700 Norwalk Blvd.<br />Cerritos, CA 90703-1838\"\r\n
        \     },\r\n      \"locationIsWithinBoundary\": null,\r\n      \"hasBoundary\":
        true,\r\n      \"county\": {\r\n        \"countyName\": \"Los Angeles\",\r\n
        \       \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Los+Angeles/search.aspx\"\r\n
        \     },\r\n      \"lowGrade\": \"K\",\r\n      \"highGrade\": \"12\",\r\n
        \     \"numberTotalSchools\": 30,\r\n      \"numberPrimarySchools\": 19,\r\n
        \     \"numberMiddleSchools\": 5,\r\n      \"numberHighSchools\": 6,\r\n      \"numberAlternativeSchools\":
        0,\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2018,\r\n
        \         \"rank\": 190,\r\n          \"rankOf\": 856,\r\n          \"rankStars\":
        4,\r\n          \"rankStatewidePercentage\": 77.8,\r\n          \"rankScore\":
        0.7144637\r\n        },\r\n        {\r\n          \"year\": 2017,\r\n          \"rank\":
        218,\r\n          \"rankOf\": 861,\r\n          \"rankStars\": 4,\r\n          \"rankStatewidePercentage\":
        74.68,\r\n          \"rankScore\": 0.6918376\r\n        }\r\n      ],\r\n
        \     \"districtYearlyDetails\": [\r\n        {\r\n          \"year\": 2017,\r\n
        \         \"numberOfStudents\": 20768,\r\n          \"numberOfSpecialEdStudents\":
        null,\r\n          \"numberOfEnglishLanguageLearnerStudents\": 4318,\r\n          \"numberOfTeachers\":
        825.6,\r\n          \"numberOfTeachersPK\": 0.0,\r\n          \"numberOfTeachersK\":
        68.4,\r\n          \"numberOfTeachersElementary\": 473.6,\r\n          \"numberOfTeachersSecondary\":
        279.3,\r\n          \"numberOfAids\": 132.7,\r\n          \"numberOfCoordsSupervisors\":
        32.1,\r\n          \"numberOfGuidanceElem\": 0.0,\r\n          \"numberOfGuidanceSecondary\":
        7.0,\r\n          \"numberOfGuidanceTotal\": 4.0,\r\n          \"numberOfLibrarians\":
        0.0,\r\n          \"numberOfLibraryStaff\": 0.0,\r\n          \"numberOfLEAAdministrators\":
        9.0,\r\n          \"numberOfLEASupportStaff\": 41.0,\r\n          \"numberOfSchoolAdministrators\":
        56.0,\r\n          \"numberOfSchoolAdminSupportStaff\": 79.7,\r\n          \"numberOfStudentSupportStaff\":
        86.8,\r\n          \"numberOfOtherSupportStaff\": 388.6\r\n        }\r\n      ]\r\n
        \   },\r\n    {\r\n      \"districtID\": \"0601650\",\r\n      \"districtName\":
        \"Acalanes Union High\",\r\n      \"phone\": \"(925) 280-3900\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/district/01650/search.aspx\",\r\n      \"address\":
        {\r\n        \"latLong\": {\r\n          \"latitude\": 37.905787,\r\n          \"longitude\":
        -122.09917\r\n        },\r\n        \"street\": \"1212 Pleasant Hill Rd.\",\r\[...]
