---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/schools?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4977'
      X-Dayrate-Limit-Reset:
      - '16391'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '89'
      X-Rate-Limit-Reset:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"numberOfSchools\": 13666,\r\n  \"numberOfPages\": 274,\r\n
        \ \"schoolList\": [\r\n    {\r\n      \"schoolid\": \"060429013779\",\r\n
        \     \"schoolName\": \"21st Century Learning Institute\",\r\n      \"phone\":
        \"(951) 769-8424\",\r\n      \"url\": \"https://www.schooldigger.com/go/CA/schools/0429013779/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/0429013779/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        33.935302,\r\n          \"longitude\": -116.969375\r\n        },\r\n        \"street\":
        \"939 East 10th St.\",\r\n        \"city\": \"Beaumont\",\r\n        \"state\":
        \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\": \"92223\",\r\n
        \       \"zip4\": \"1927\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Beaumont/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/92223/search.aspx\",\r\n
        \       \"html\": \"939 East 10th St.<br />Beaumont, CA 92223-1927\"\r\n      },\r\n
        \     \"lowGrade\": \"K\",\r\n      \"highGrade\": \"12\",\r\n      \"schoolLevel\":
        \"Alternative\",\r\n      \"isCharterSchool\": \"No\",\r\n      \"isMagnetSchool\":
        \"(n/a)\",\r\n      \"isVirtualSchool\": \"Yes\",\r\n      \"isTitleISchool\":
        \"(n/a)\",\r\n      \"isTitleISchoolwideSchool\": \"(n/a)\",\r\n      \"district\":
        {\r\n        \"districtID\": \"0604290\",\r\n        \"districtName\": \"Beaumont
        Unified\",\r\n        \"url\": \"https://www.schooldigger.com/go/CA/district/04290/search.aspx\",\r\n
        \       \"rankURL\": \"https://www.schooldigger.com/go/CA/districtrank.aspx\"\r\n
        \     },\r\n      \"county\": {\r\n        \"countyName\": \"Riverside County\",\r\n
        \       \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Riverside+County/search.aspx\"\r\n
        \     },\r\n      \"rankHistory\": null,\r\n      \"rankMovement\": null,\r\n
        \     \"hasBoundary\": false,\r\n      \"schoolYearlyDetails\": [\r\n        {\r\n
        \         \"year\": 2023,\r\n          \"numberOfStudents\": 334,\r\n          \"percentFreeDiscLunch\":
        61.08,\r\n          \"percentofAfricanAmericanStudents\": 8.08,\r\n          \"percentofAsianStudents\":
        2.99,\r\n          \"percentofHispanicStudents\": 55.39,\r\n          \"percentofIndianStudents\":
        0.0,\r\n          \"percentofPacificIslanderStudents\": 0.90,\r\n          \"percentofWhiteStudents\":
        26.65,\r\n          \"percentofTwoOrMoreRaceStudents\": 5.69,\r\n          \"percentofUnspecifiedRaceStudents\":
        null,\r\n          \"teachersFulltime\": 7.0,\r\n          \"pupilTeacherRatio\":
        47.2,\r\n          \"numberofAfricanAmericanStudents\": 27,\r\n          \"numberofAsianStudents\":
        10,\r\n          \"numberofHispanicStudents\": 185,\r\n          \"numberofIndianStudents\":
        0,\r\n          \"numberofPacificIslanderStudents\": 3,\r\n          \"numberofWhiteStudents\":
        89,\r\n          \"numberofTwoOrMoreRaceStudents\": 19,\r\n          \"numberofUnspecifiedRaceStudents\":
        null\r\n        },\r\n        {\r\n          \"year\": 2022,\r\n          \"numberOfStudents\":
        441,\r\n          \"percentFreeDiscLunch\": 55.56,\r\n          \"percentofAfricanAmericanStudents\":
        11.11,\r\n          \"percentofAsianStudents\": 7.71,\r\n          \"percentofHispanicStudents\":
        54.42,\r\n          \"percentofIndianStudents\": 0.23,\r\n          \"percentofPacificIslanderStudents\":
        0.0,\r\n          \"percentofWhiteStudents\": 20.63,\r\n          \"percentofTwoOrMoreRaceStudents\":
        5.90,\r\n          \"percentofUnspecifiedRaceStudents\": null,\r\n          \"teachersFulltime\":
        11.5,\r\n          \"pupilTeacherRatio\": 38.3,\r\n          \"numberofAfricanAmericanStudents\":
        49,\r\n          \"numberofAsianStudents\": 34,\r\n          \"numberofHispanicStudents\":
        240,\r\n          \"numberofIndianStudents\": 1,\r\n          \"numberofPacificIslanderStudents\":
        0,\r\n          \"numberofWhiteStudents\": 91,\r\n          \"numberofTwoOrMoreRaceStudents\":
        26,\r\n          \"numberofUnspecifiedRaceStudents\": null\r\n        }\r\n
        \     ],\r\n      \"isPrivate\": false,\r\n      \"privateDays\": null,\r\n
        \     \"privateHours\": null,\r\n      \"privateHasLibrary\": null,\r\n      \"privateCoed\":
        null,\r\n      \"privateOrientation\": null\r\n    },\r\n    {\r\n      \"schoolid\":
        \"069999953556\",\r\n      \"schoolName\": \"9 Fruits Learning Center\",\r\n
        \     \"phone\": \"(650) 962-1900\",\r\n      \"url\": \"https://www.schooldigger.com/go/CA/schools/9999953556/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/9999953556/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        37.415424,\r\n          \"longitud[...]
[...]
