---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/schools?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50&st=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '490'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"numberOfSchools\": 12765,\r\n  \"numberOfPages\": 256,\r\n
        \ \"schoolList\": [\r\n    {\r\n      \"schoolid\": \"069999942014\",\r\n
        \     \"schoolName\": \"\\\"children \\\"\\\"r\\\"\\\" Us Child Development\\\"\",\r\n
        \     \"phone\": \"(805) 647-5437\",\r\n      \"url\": \"https://www.schooldigger.com/go/CA/schools/9999942014/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/9999942014/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        34.278372,\r\n          \"longitude\": -119.160482\r\n        },\r\n        \"street\":
        \"1083 Scandia Ave\",\r\n        \"city\": \"Ventura\",\r\n        \"state\":
        \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\": \"93004\",\r\n
        \       \"zip4\": \"\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Ventura/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93004/search.aspx\",\r\n
        \       \"html\": \"1083 Scandia Ave<br />Ventura, CA 93004\"\r\n      },\r\n
        \     \"lowGrade\": \"PK\",\r\n      \"highGrade\": \"1\",\r\n      \"schoolLevel\":
        \"Private\",\r\n      \"isCharterSchool\": \"(n/a)\",\r\n      \"isMagnetSchool\":
        \"(n/a)\",\r\n      \"isVirtualSchool\": \"(n/a)\",\r\n      \"isTitleISchool\":
        \"(n/a)\",\r\n      \"isTitleISchoolwideSchool\": \"(n/a)\",\r\n      \"county\":
        {\r\n        \"countyName\": \"Ventura\",\r\n        \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Ventura/search.aspx\"\r\n
        \     },\r\n      \"rankHistory\": null,\r\n      \"rankMovement\": null,\r\n
        \     \"locationIsWithinBoundary\": null,\r\n      \"schoolYearlyDetails\":
        [\r\n        {\r\n          \"year\": 2016,\r\n          \"numberOfStudents\":
        32,\r\n          \"percentFreeDiscLunch\": null,\r\n          \"percentofAfricanAmericanStudents\":
        0.0,\r\n          \"percentofAsianStudents\": 9.38,\r\n          \"percentofHispanicStudents\":
        15.62,\r\n          \"percentofIndianStudents\": 0.0,\r\n          \"percentofPacificIslanderStudents\":
        0.0,\r\n          \"percentofWhiteStudents\": 12.50,\r\n          \"percentofTwoOrMoreRaceStudents\":
        0.0,\r\n          \"percentofUnspecifiedRaceStudents\": null,\r\n          \"teachersFulltime\":
        5.6,\r\n          \"pupilTeacherRatio\": 2.1,\r\n          \"numberofAfricanAmericanStudents\":
        0,\r\n          \"numberofAsianStudents\": 3,\r\n          \"numberofHispanicStudents\":
        5,\r\n          \"numberofIndianStudents\": 0,\r\n          \"numberofPacificIslanderStudents\":
        0,\r\n          \"numberofWhiteStudents\": 4,\r\n          \"numberofTwoOrMoreRaceStudents\":
        0,\r\n          \"numberofUnspecifiedRaceStudents\": null\r\n        },\r\n
        \       {\r\n          \"year\": 2014,\r\n          \"numberOfStudents\":
        24,\r\n          \"percentFreeDiscLunch\": null,\r\n          \"percentofAfricanAmericanStudents\":
        0.0,\r\n          \"percentofAsianStudents\": 12.50,\r\n          \"percentofHispanicStudents\":
        16.67,\r\n          \"percentofIndianStudents\": 0.0,\r\n          \"percentofPacificIslanderStudents\":
        0.0,\r\n          \"percentofWhiteStudents\": 12.50,\r\n          \"percentofTwoOrMoreRaceStudents\":
        0.0,\r\n          \"percentofUnspecifiedRaceStudents\": null,\r\n          \"teachersFulltime\":
        2.0,\r\n          \"pupilTeacherRatio\": 5.0,\r\n          \"numberofAfricanAmericanStudents\":
        0,\r\n          \"numberofAsianStudents\": 3,\r\n          \"numberofHispanicStudents\":
        4,\r\n          \"numberofIndianStudents\": 0,\r\n          \"numberofPacificIslanderStudents\":
        0,\r\n          \"numberofWhiteStudents\": 3,\r\n          \"numberofTwoOrMoreRaceStudents\":
        0,\r\n          \"numberofUnspecifiedRaceStudents\": null\r\n        }\r\n
        \     ],\r\n      \"isPrivate\": true,\r\n      \"privateDays\": 175,\r\n
        \     \"privateHours\": 10.5,\r\n      \"privateHasLibrary\": true,\r\n      \"privateCoed\":
        \"Coed\",\r\n      \"privateOrientation\": \"Nonsectarian\",\r\n      \"hasBoundary\":
        false\r\n    },\r\n    {\r\n      \"schoolid\": \"060429013779\",\r\n      \"schoolName\":
        \"21st Century Learning Institute\",\r\n      \"phone\": \"(951) 769-8424\",\r\n
        \     \"url\": \"https://www.schooldigger.com/go/CA/schools/0429013779/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/0429013779/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        33.934277,\r\n          \"longitude\": -116.969275\r\n        },\r\n        \"street\":
        \"939 E. 10th St.\",\r\n        \"city\": \"Beaumont\",\r\n        \"state\":
        \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\": \"92223\",\r\n
        \       \"zip4\": \"1927\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Beaumont/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/92223/search.aspx\",\r\n
        \       \"html\": \"939 E. 10th St.<br />Beaumont, CA 92223-1927\"\r\n      },\r\n
        \     \"lowGrade\": \"K\",\r\n      \"highGrade\": \"12\",\r\n      \"schoolLevel\":
        \"Alternative\",\r\n      \"isCharterSchool\": \"No\",\r\n      \"isMagnetSchool\":
        \"No\",\r\n      \"isVirtualSchool\": \"Yes\",\r\n      \"isTitleISchool\":
        \"No\",\r\n      \"isTitleISchoolwideSchool\": \"No\",\r\n      \"district\":
        {\r\n        \"districtID\": \"0604290\",\r\n        \"districtName\": \"Beaumont
        Unified\",\r\n        \"url\": \"https://www.schooldigger.com/go/CA/district/04290/search.aspx\",\r\n
        \       \"rankURL\": \"https://www.schooldigger.com/go/CA/districtrank.aspx?finddistrict=04290\"\r\n
        \     },\r\n      \"county\": {\r\n        \"countyName\": \"Riverside\",\r\n
        \       \"countyURL\": \"https://www.schooldigger.com/go/CA/county/Riverside/search.aspx\"\r\n
        \     },\r\n      \"rankHistory\": null,\r\n      \"rankMovement\": null,\r\n
        \     \"locationIsWithinBoundary\": null,\r\n      \"schoolYearlyDetails\":
        [\r\n        {\r\n          \"year\": 2017,\r\n     [...]
[...]
