---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/rankings/schools/CA?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4972'
      X-Dayrate-Limit-Reset:
      - '16388'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '84'
      X-Rate-Limit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"rankYear\": 2024,\r\n  \"rankYearCompare\": 2023,\r\n  \"rankYearsAvailable\":
        [\r\n    2024,\r\n    2023,\r\n    2022,\r\n    2021,\r\n    2019,\r\n    2018,\r\n
        \   2017,\r\n    2016,\r\n    2015,\r\n    2013,\r\n    2012,\r\n    2011,\r\n
        \   2010,\r\n    2009,\r\n    2008,\r\n    2007,\r\n    2006,\r\n    2005,\r\n
        \   2004\r\n  ],\r\n  \"numberOfSchools\": 5862,\r\n  \"numberOfPages\": 118,\r\n
        \ \"schoolList\": [\r\n    {\r\n      \"schoolid\": \"060927000939\",\r\n
        \     \"schoolName\": \"Cold Spring Elementary\",\r\n      \"phone\": \"(805)
        969-2678\",\r\n      \"url\": \"https://www.schooldigger.com/go/CA/schools/0927000939/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/0927000939/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        34.4411,\r\n          \"longitude\": -119.6605\r\n        },\r\n        \"street\":
        \"2243 Sycamore Canyon Rd.\",\r\n        \"city\": \"Santa Barbara\",\r\n
        \       \"state\": \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\":
        \"93108\",\r\n        \"zip4\": \"1909\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Santa+Barbara/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/93108/search.aspx\",\r\n
        \       \"html\": \"2243 Sycamore Canyon Rd.<br />Santa Barbara, CA 93108-1909\"\r\n
        \     },\r\n      \"lowGrade\": \"K\",\r\n      \"highGrade\": \"6\",\r\n
        \     \"schoolLevel\": \"Elementary\",\r\n      \"isCharterSchool\": \"No\",\r\n
        \     \"isMagnetSchool\": \"(n/a)\",\r\n      \"isVirtualSchool\": \"No\",\r\n
        \     \"isTitleISchool\": \"(n/a)\",\r\n      \"isTitleISchoolwideSchool\":
        \"(n/a)\",\r\n      \"district\": {\r\n        \"districtID\": \"0609270\",\r\n
        \       \"districtName\": \"Cold Spring Elementary\",\r\n        \"url\":
        \"https://www.schooldigger.com/go/CA/district/09270/search.aspx\",\r\n        \"rankURL\":
        \"https://www.schooldigger.com/go/CA/districtrank.aspx\"\r\n      },\r\n      \"county\":
        {\r\n        \"countyName\": \"Santa Barbara County\",\r\n        \"countyURL\":
        \"https://www.schooldigger.com/go/CA/county/Santa+Barbara+County/search.aspx\"\r\n
        \     },\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2024,\r\n
        \         \"rank\": 1,\r\n          \"rankOf\": 5862,\r\n          \"rankStars\":
        5,\r\n          \"rankLevel\": \"Elementary\",\r\n          \"rankStatewidePercentage\":
        99.98,\r\n          \"averageStandardScore\": 99.68707\r\n        },\r\n        {\r\n
        \         \"year\": 2023,\r\n          \"rank\": 5,\r\n          \"rankOf\":
        5874,\r\n          \"rankStars\": 5,\r\n          \"rankLevel\": \"Elementary\",\r\n
        \         \"rankStatewidePercentage\": 99.91,\r\n          \"averageStandardScore\":
        99.33196\r\n        }\r\n      ],\r\n      \"rankMovement\": 4,\r\n      \"hasBoundary\":
        true,\r\n      \"schoolYearlyDetails\": [\r\n        {\r\n          \"year\":
        2023,\r\n          \"numberOfStudents\": 193,\r\n          \"percentFreeDiscLunch\":
        5.18,\r\n          \"percentofAfricanAmericanStudents\": 0.52,\r\n          \"percentofAsianStudents\":
        2.59,\r\n          \"percentofHispanicStudents\": 8.29,\r\n          \"percentofIndianStudents\":
        0.52,\r\n          \"percentofPacificIslanderStudents\": 0.0,\r\n          \"percentofWhiteStudents\":
        75.13,\r\n          \"percentofTwoOrMoreRaceStudents\": 12.95,\r\n          \"percentofUnspecifiedRaceStudents\":
        null,\r\n          \"teachersFulltime\": 15.8,\r\n          \"pupilTeacherRatio\":
        12.1,\r\n          \"numberofAfricanAmericanStudents\": 1,\r\n          \"numberofAsianStudents\":
        5,\r\n          \"numberofHispanicStudents\": 16,\r\n          \"numberofIndianStudents\":
        1,\r\n          \"numberofPacificIslanderStudents\": 0,\r\n          \"numberofWhiteStudents\":
        145,\r\n          \"numberofTwoOrMoreRaceStudents\": 25,\r\n          \"numberofUnspecifiedRaceStudents\":
        null\r\n        }\r\n      ],\r\n      \"isPrivate\": false,\r\n      \"privateDays\":
        null,\r\n      \"privateHours\": null,\r\n      \"privateHasLibrary\": null,\r\n
        \     \"privateCoed\": null,\r\n      \"privateOrientation\": null\r\n    },\r\n
        \   {\r\n      \"schoolid\": \"060627014309\",\r\n      \"schoolName\": \"Buckeye
        Union Mandarin Immersion Charter\",\r\n      \"phone\": \"(916) 933-9746\",\r\n
        \     \"url\": \"https://www.schooldigger.com/go/CA/schools/0627014309/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/0627014309/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        38.6642,\[...]
