---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/schools/490003601072?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '491'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"schoolid\": \"490003601072\",\r\n  \"schoolName\": \"East
        Hollywood High\",\r\n  \"phone\": \"(801) 886-8181\",\r\n  \"url\": \"https://www.schooldigger.com/go/UT/schools/0003601072/school.aspx\",\r\n
        \ \"urlCompare\": \"https://www.schooldigger.com/go/UT/schools/0003601072/search.aspx\",\r\n
        \ \"address\": {\r\n    \"latLong\": {\r\n      \"latitude\": 40.723017,\r\n
        \     \"longitude\": -111.978837\r\n    },\r\n    \"street\": \"2185 S 3600
        W\",\r\n    \"city\": \"West Valley City\",\r\n    \"state\": \"UT\",\r\n
        \   \"stateFull\": \"Utah\",\r\n    \"zip\": \"84119\",\r\n    \"zip4\": \"\",\r\n
        \   \"cityURL\": \"https://www.schooldigger.com/go/UT/city/West+Valley+City/search.aspx\",\r\n
        \   \"zipURL\": \"https://www.schooldigger.com/go/UT/zip/84119/search.aspx\",\r\n
        \   \"html\": \"2185 S 3600 W<br />West Valley City, UT 84119\"\r\n  },\r\n
        \ \"locale\": \"Suburb: Large\",\r\n  \"lowGrade\": \"9\",\r\n  \"highGrade\":
        \"12\",\r\n  \"schoolLevel\": \"High\",\r\n  \"isCharterSchool\": \"Yes\",\r\n
        \ \"isMagnetSchool\": \"Yes\",\r\n  \"isVirtualSchool\": \"No\",\r\n  \"isTitleISchool\":
        \"Yes\",\r\n  \"isTitleISchoolwideSchool\": \"No\",\r\n  \"isPrivate\": false,\r\n
        \ \"privateDays\": null,\r\n  \"privateHours\": null,\r\n  \"privateHasLibrary\":
        null,\r\n  \"privateCoed\": null,\r\n  \"privateOrientation\": null,\r\n  \"boundary\":
        {\r\n    \"hasBoundary\": false\r\n  },\r\n  \"district\": {\r\n    \"districtID\":
        \"4900036\",\r\n    \"districtName\": \"East Hollywood High\",\r\n    \"url\":
        \"https://www.schooldigger.com/go/UT/district/00036/search.aspx\",\r\n    \"rankURL\":
        \"https://www.schooldigger.com/go/UT/districtrank.aspx?finddistrict=00036\"\r\n
        \ },\r\n  \"county\": {\r\n    \"countyName\": \"Salt Lake\",\r\n    \"countyURL\":
        \"https://www.schooldigger.com/go/UT/county/Salt+Lake/search.aspx\"\r\n  },\r\n
        \ \"reviews\": null,\r\n  \"rankHistory\": [\r\n    {\r\n      \"year\": 2018,\r\n
        \     \"rank\": 114,\r\n      \"rankOf\": 123,\r\n      \"rankStars\": 0,\r\n
        \     \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\": 7.32,\r\n
        \     \"averageStandardScore\": 10.83200\r\n    },\r\n    {\r\n      \"year\":
        2017,\r\n      \"rank\": 121,\r\n      \"rankOf\": 125,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        3.2,\r\n      \"averageStandardScore\": 7.80050\r\n    },\r\n    {\r\n      \"year\":
        2016,\r\n      \"rank\": 124,\r\n      \"rankOf\": 129,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        3.88,\r\[...]
