---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/schools/490003601072?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dayrate-Limit-Limit:
      - '5000'
      X-Dayrate-Limit-Remaining:
      - '4974'
      X-Dayrate-Limit-Reset:
      - '16388'
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '86'
      X-Rate-Limit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"schoolid\": \"490003601072\",\r\n  \"schoolName\": \"East
        Hollywood High\",\r\n  \"phone\": \"(801) 886-8181\",\r\n  \"url\": \"https://www.schooldigger.com/go/UT/schools/0003601072/school.aspx\",\r\n
        \ \"urlCompare\": \"https://www.schooldigger.com/go/UT/schools/0003601072/search.aspx\",\r\n
        \ \"address\": {\r\n    \"latLong\": {\r\n      \"latitude\": 40.724569,\r\n
        \     \"longitude\": -111.975505\r\n    },\r\n    \"street\": \"2185 S 3600
        W\",\r\n    \"city\": \"West Valley City\",\r\n    \"state\": \"UT\",\r\n
        \   \"stateFull\": \"Utah\",\r\n    \"zip\": \"84119\",\r\n    \"zip4\": \"\",\r\n
        \   \"cityURL\": \"https://www.schooldigger.com/go/UT/city/West+Valley+City/search.aspx\",\r\n
        \   \"zipURL\": \"https://www.schooldigger.com/go/UT/zip/84119/search.aspx\",\r\n
        \   \"html\": \"2185 S 3600 W<br />West Valley City, UT 84119\"\r\n  },\r\n
        \ \"locale\": \"Suburb: Large\",\r\n  \"lowGrade\": \"9\",\r\n  \"highGrade\":
        \"12\",\r\n  \"schoolLevel\": \"High\",\r\n  \"isCharterSchool\": \"Yes\",\r\n
        \ \"isMagnetSchool\": \"Yes\",\r\n  \"isVirtualSchool\": \"No\",\r\n  \"isTitleISchool\":
        \"Yes\",\r\n  \"isTitleISchoolwideSchool\": \"No\",\r\n  \"isPrivate\": false,\r\n
        \ \"privateDays\": null,\r\n  \"privateHours\": null,\r\n  \"privateHasLibrary\":
        null,\r\n  \"privateCoed\": null,\r\n  \"privateOrientation\": null,\r\n  \"boundary\":
        {\r\n    \"hasBoundary\": false\r\n  },\r\n  \"district\": {\r\n    \"districtID\":
        \"4900036\",\r\n    \"districtName\": \"East Hollywood High\",\r\n    \"url\":
        \"https://www.schooldigger.com/go/UT/district/00036/search.aspx\",\r\n    \"rankURL\":
        \"https://www.schooldigger.com/go/UT/districtrank.aspx\"\r\n  },\r\n  \"county\":
        {\r\n    \"countyName\": \"Salt Lake County\",\r\n    \"countyURL\": \"https://www.schooldigger.com/go/UT/county/Salt+Lake+County/search.aspx\"\r\n
        \ },\r\n  \"reviews\": null,\r\n  \"rankHistory\": [\r\n    {\r\n      \"year\":
        2024,\r\n      \"rank\": 138,\r\n      \"rankOf\": 138,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        0.0,\r\n      \"averageStandardScore\": 1.44850\r\n    },\r\n    {\r\n      \"year\":
        2023,\r\n      \"rank\": 136,\r\n      \"rankOf\": 139,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        2.16,\r\n      \"averageStandardScore\": 4.13900\r\n    },\r\n    {\r\n      \"year\":
        2022,\r\n      \"rank\": 125,\r\n      \"rankOf\": 131,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        4.58,\r\n      \"averageStandardScore\": 8.88450\r\n    },\r\n    {\r\n      \"year\":
        2019,\r\n      \"rank\": 134,\r\n      \"rankOf\": 136,\r\n      \"rankStars\":
        0,\r\n      \"rankLevel\": \"High\",\r\n      \"rankStatewidePercentage\":
        1.47,\r\n      \"averageStandardScore\": 3.53817\r\n    }\r\n  ],\r\n  \"rankMovement\":
        -2,\r\n  \"testScores\": [\r\n    {\r\n      \"test\": \"Utah Aspire Plus\",\r\n
        \     \"subject\": \"English Language Arts\",\r\n      \"year\": 2019,\r\n
        \     \"grade\": \"10\",\r\n      \"schoolTestScore\": {\r\n        \"percentMetStandard\":
        31.3\r\n      },\r\n      \"districtTestScore\": {\r\n        \"percentMetStandard\":
        31.3\r\n      },\r\n      \"stateTestScore\": {\r\n        \"percentMetStandard\":
        49.5\r\n      }\r\n    },\r\n    {\r\n      \"test\": \"Utah Aspire Plus\",\r\n
        \     \"subject\": \"English Language Arts\",\r\n      \"year\": 2022,\r\n
        \     \"grade\": \"10\",\r\n      \"schoolTestScore\": {\r\n        \"percentMetStandard\":
        30.6\r\n      },\r\n      \"districtTestScore\": {\r\n        \"percentMetStandard\":
        30.6\r\n      },\r\n      \"stateTestScore\": {\r\n        \"percentMetStandard\":
      [...]
