---
http_interactions:
- request:
    method: get
    uri: https://api.schooldigger.com/v1.1/rankings/schools/CA?appID=<SCHOOL_DIGGER_APP_ID>&appKey=<SCHOOL_DIGGER_APP_KEY>&page=1&perPage=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '492'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\r\n  \"rankYear\": 2018,\r\n  \"rankYearCompare\": 2017,\r\n  \"rankYearsAvailable\":
        [\r\n    2018,\r\n    2017,\r\n    2016,\r\n    2015,\r\n    2013,\r\n    2012,\r\n
        \   2011,\r\n    2010,\r\n    2009,\r\n    2008,\r\n    2007,\r\n    2006,\r\n
        \   2005,\r\n    2004\r\n  ],\r\n  \"numberOfSchools\": 5709,\r\n  \"numberOfPages\":
        115,\r\n  \"schoolList\": [\r\n    {\r\n      \"schoolid\": \"062223007743\",\r\n
        \     \"schoolName\": \"Elkhorn\",\r\n      \"phone\": \"(209) 953-8330\",\r\n
        \     \"url\": \"https://www.schooldigger.com/go/CA/schools/2223007743/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/2223007743/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        38.050254,\r\n          \"longitude\": -121.333518\r\n        },\r\n        \"street\":
        \"10505 N. Davis Rd.\",\r\n        \"city\": \"Stockton\",\r\n        \"state\":
        \"CA\",\r\n        \"stateFull\": \"California\",\r\n        \"zip\": \"95209\",\r\n
        \       \"zip4\": \"4327\",\r\n        \"cityURL\": \"https://www.schooldigger.com/go/CA/city/Stockton/search.aspx\",\r\n
        \       \"zipURL\": \"https://www.schooldigger.com/go/CA/zip/95209/search.aspx\",\r\n
        \       \"html\": \"10505 N. Davis Rd.<br />Stockton, CA 95209-4327\"\r\n
        \     },\r\n      \"lowGrade\": \"4\",\r\n      \"highGrade\": \"8\",\r\n
        \     \"schoolLevel\": \"Elementary\",\r\n      \"isCharterSchool\": \"No\",\r\n
        \     \"isMagnetSchool\": \"No\",\r\n      \"isVirtualSchool\": \"No\",\r\n
        \     \"isTitleISchool\": \"No\",\r\n      \"isTitleISchoolwideSchool\": \"No\",\r\n
        \     \"district\": {\r\n        \"districtID\": \"0622230\",\r\n        \"districtName\":
        \"Lodi Unified\",\r\n        \"url\": \"https://www.schooldigger.com/go/CA/district/22230/search.aspx\",\r\n
        \       \"rankURL\": \"https://www.schooldigger.com/go/CA/districtrank.aspx?finddistrict=22230\"\r\n
        \     },\r\n      \"county\": {\r\n        \"countyName\": \"San Joaquin\",\r\n
        \       \"countyURL\": \"https://www.schooldigger.com/go/CA/county/San+Joaquin/search.aspx\"\r\n
        \     },\r\n      \"rankHistory\": [\r\n        {\r\n          \"year\": 2018,\r\n
        \         \"rank\": 1,\r\n          \"rankStars\": 5,\r\n          \"rankLevel\":
        \"Elementary\",\r\n          \"averageStandardScore\": 99.40850\r\n        },\r\n
        \       {\r\n          \"year\": 2017,\r\n          \"rank\": 2,\r\n          \"rankStars\":
        5,\r\n          \"rankLevel\": \"Elementary\",\r\n          \"averageStandardScore\":
        99.43009\r\n        }\r\n      ],\r\n      \"rankMovement\": 1,\r\n      \"locationIsWithinBoundary\":
        false,\r\n      \"schoolYearlyDetails\": [\r\n        {\r\n          \"year\":
        2017,\r\n          \"numberOfStudents\": 269,\r\n          \"percentFreeDiscLunch\":
        0.4387,\r\n          \"percentofAfricanAmericanStudents\": 1.86,\r\n          \"percentofAsianStudents\":
        50.56,\r\n          \"percentofHispanicStudents\": 21.56,\r\n          \"percentofIndianStudents\":
        0.74,\r\n          \"percentofPacificIslanderStudents\": null,\r\n          \"percentofWhiteStudents\":
        21.19,\r\n          \"percentofTwoOrMoreRaceStudents\": 4.09,\r\n          \"percentofUnspecifiedRaceStudents\":
        null,\r\n          \"teachersFulltime\": 9.9,\r\n          \"pupilTeacherRatio\":
        27.1,\r\n          \"numberofAfricanAmericanStudents\": 5,\r\n          \"numberofAsianStudents\":
        136,\r\n          \"numberofHispanicStudents\": 58,\r\n          \"numberofIndianStudents\":
        2,\r\n          \"numberofPacificIslanderStudents\": null,\r\n          \"numberofWhiteStudents\":
        57,\r\n          \"numberofTwoOrMoreRaceStudents\": 11,\r\n          \"numberofUnspecifiedRaceStudents\":
        null\r\n        }\r\n      ],\r\n      \"isPrivate\": false,\r\n      \"privateDays\":
        null,\r\n      \"privateHours\": null,\r\n      \"privateHasLibrary\": null,\r\n
        \     \"privateCoed\": null,\r\n      \"privateOrientation\": null,\r\n      \"hasBoundary\":
        true\r\n    },\r\n    {\r\n      \"schoolid\": \"063432005495\",\r\n      \"schoolName\":
        \"La Jolla Elementary\",\r\n      \"phone\": \"(858) 454-7196\",\r\n      \"url\":
        \"https://www.schooldigger.com/go/CA/schools/3432005495/school.aspx\",\r\n
        \     \"urlCompare\": \"https://www.schooldigger.com/go/CA/schools/3432005495/search.aspx\",\r\n
        \     \"address\": {\r\n        \"latLong\": {\r\n          \"latitude\":
        32.839071,\r\n          \"longit[...]
